In [ ]:
# import relevant libraries
import numpy as np
import pandas as pd

In [ ]:
# read grades.csv into a pandas dataframe & save the dataframe in a variable
grades = pd.read_csv('grades.csv')

In [ ]:
# display first few rows of grades
grades.head()

In [ ]:
# select exam column and grade column from grades dataframe
# result will be a pandas dataframe containing just those two columns
grades.loc[:, ['exam', 'grade']]

In [ ]:
# select grade column from grades dataframe
# result will be a pandas dataframe containing just that column
grades.loc[:, ['grade']]

In [ ]:
# select row 0 from grades dataframe such that result is a pandas series
grades.iloc[0]

In [ ]:
# select row 0 from grades dataframe such that result is a pandas dataframe
grades.iloc[[0], :]

In [ ]:
# select row 0 and row 4 from grades dataframe
# result will be a pandas dataframe
grades.iloc[[0, 10], :]

In [ ]:
# select item at row 4 column 2 from grades dataframe
grades.iloc[4, 2]

In [ ]:
# select column 0 and column 2 from grades dataframe
# result will be a pandas dataframe
grades.iloc[:, [0, 2]]

In [ ]:
# select row 0 and row 2 from grades dataframe
# result will be a pandas dataframe
grades.iloc[[0, 2], :]

In [ ]:
# select rows 35 and 45 and columns 0 and 2 from grades dataframe
# result will be a pandas dataframe
grades.iloc[[35, 45], [0, 2]]

In [ ]:
# select every row from grades dataframe for which entry in grade column is atleast 70.0
grades[grades['grade'] >= 70.0]

In [ ]:
# select all data representing students' grades on exam no. 5 that were atleast 70.0%
# in other words, select every row from grades dataframe for which 
# entry in exam column is 5 and entry in grade column is atleast 70.0
grades[(grades['exam'] == 5) & (grades['grade'] >= 70.0)]